<div class="container text-center py-5">
  <h1 class="display-4 text-danger mb-4">🍜 ようこそ！中華料理ルーレット</h1>
  <p class="lead mb-4">迷ったときはこのアプリで！</p>

<%= image_tag "chuuka_turntable_yamucha_family.jpg", alt: "中華料理", class: "img-fluid rounded shadow mb-4", style: "max-height: 400px;" %>

  <%= link_to "料理を決める！", generate_path, class: "btn btn-danger btn-lg px-4 py-2 mt-3" %>
</div>